<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nueva Solicitud</title>
    <link rel="stylesheet" href="../css/nuevocomentario.css" />
    <link rel="icon" href="../Imagenes/favicon.ico" type="image/x-icon">
    <script
      src="../javascript/nueva_solicitud.js"
      type="text/javascript"
      defer
    ></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
    </style>
  </head>
  <body>
    <div class="sidebar_menu">
      <div>
        <h3>Menu</h3>
      </div>
      <img src="../Imagenes/logo_unal_blanco-negro.png" alt="logo_unal" />
      <h3 id="bienvenida">Bienvenido  <%= usuario %> :D</h3>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/mis_solicitudes">Mis Solicitudes</a></li>
        <li><a href="/nueva_solicitud">Nueva Solicitud</a></li>
      </ul>
      <a class="cerrar_sesion" href="/logout">Cerrar sesión</a>
    </div>
    <div class="contenido">
      <div class="titulo">
        <h1>Añadir Comentario</h1>
      </div>
      <div class="contenedor_sol">
        <form class="solicitud" method="POST" action="/crearComentario">
          <a href="/info_solicitud/<%= solicitudId %>" id="backButtonLink">
            <img
              src="../Imagenes/back_button.png"
              alt="Back Button"
              id="backButton"
            />
          </a>
          <b id="numero_sol">Solicitud# <%= solicitudId %> </b> <br /><br /><br />
          <br />
          <div id="comentarios">
            <b>Comentario</b>
            <textarea
              id="comentario"
              name="comentario"
              maxlength="1000"
              placeholder="Escriba su comentario aqui..."
            ></textarea>
          </div>
          <!--
          <div id="documentos_anexos">
            <b>Anexar Documentos</b>
            <input
              type="file"
              name="documentos"
              multiple="multiple"
              accept=".pdf,.png, .jpg, .jpeg"
            />
          </div>-->
          <br /><br /><br />
          <input type="hidden" name="numeroDocumento" value="<%= numeroDocumento %> ">
          <input type="hidden" name="idSolicitud" value="<%= solicitudId %>">
          <div id="boton_enviar">
            <button class="button-4" role="button" type="submit">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
